.img-responsive-left {
    width: 100%;
    height: 350px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
}

.img-responsive-right {
    width: 100%;
    height: 350px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
}

.img-responsive {
    width: 100%;
    height: 650px;
}

main {
    section {
        div {
            a {
                img {
                    &:hover {
                        transition: all 300ms;
                        transform: scale(1.05);
                    }
                }
            }
        }
    }
}

.contenedor {
    position: relative;
    display: inline-block;
    text-align: center;
}

.centrado {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: aliceblue;
    font-family: 'Alex Brush', cursive;
    font-size: 50px;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
}
